body {
	color: #34495E;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 32px;
	font-weight: 900;
	margin-bottom: 40px;
}

.wrap {
 	margin: 0 auto;
 	width: 940px;
}

.headline {
	padding: 75px 0 110px;
	text-align: center;
	font-size: 90px;
	font-weight: 900;
	letter-spacing: -2px;
}

.btn-primary {
	background-color: #E67E22;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 18px 13px;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
}

.btn-primary:hover {
	background-color: #D35400;
	-webkit-transition: 0.25s;
}

.row {
	margin-bottom: 20px;
}

.span {
	width: 220px;
}